@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Outfit', sans-serif;
  
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
background-color: white;
border-radius: 18px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 400px;
margin: 4rem;
padding: 7rem;
}

.labels{
  padding-bottom: 10%; 
}

h2{
  text-align: center;
  font-weight: bolder;
  padding-bottom: 0%;
}

.button{
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}